body{

  /* display: flex; */
}


.container {

  color: #000;

}


div {

   border: 3px solid brown;


}

/* ------------ */

.bar{
display: flex;
width: 80%;
height: 50px;
justify-content: space-between;
margin-left: 10%;
margin-right: 10%;
}

.pages{

  display: flex;
  width: 45%;
  justify-content:space-between
}

.logo {
  width: 55%;
}

/* ///////////////////////// */






.first{
display: flex;
width: 80%;
height: 300px;
margin-left: 10%;
margin-right: 10%;
margin-top: 3%;
}

.contents{
display: flex;
flex-direction: column;
width: 50%;
}

.contents div {
  /* height: 25%; */
  display: flex;
}

.title1{

  align-items: end;
}


.but{

 align-items: end;
 



}



.imges {
width: 50%;

}


.imges img{
width: 100%;
  height: 100%;
}



/* section 2  */


.imgd
{
display: flex;
flex-direction: column;
  width:15%;
  
  margin: 1.5%;
}

.imgd img {

height: 200px;
width: auto;

}

.con2{

  height: 500px;
}


.con3{
display: flex;
align-items: center;
justify-content: center;

  height: 300px;
}

.con4{
display: flex;
align-items: center;
justify-content: center;

  height: 300px;
}




